@tailwind base;
@tailwind components;
@tailwind utilities;


/* Добавим плавные анимации */
.card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-10px) scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Плавное появление при прокрутке */
.fade-in {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s ease, transform 1s ease;
}

.fade-in-visible {
    opacity: 1;
    transform: translateY(0);
}